*{
  direction: rtl;
  margin: 0 auto ;
  width: 75%;
  
  /*border: 1px solid red;*/
}

.all_con{
    width: 410px;
    height: 1500px;
    border: 1px solid  gray;
    }

.con{
    font-size: 60px;
    width: 410px;
    text-align: center;
    height: 40px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

.text{
    text-align: right;
    margin: 0;
    font-size: 35px;
    }

.header{
    text-align: center;
    font-size: 55px;
    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
li {
  display: inline;
}

.gallery{
    margin: 0;
    width: 500px;
}
.G_img{
    margin: 0;
    width: 90px;
}

.img2{
    width: 410px;
}
